 <div class="panel panel-default">
    <!--div class="panel-heading">Panel heading without title</div-->
    <div class="panel-body">
   
    <table id="table"
        data-show-columns="false"
        data-show-refresh="false"
        data-search="true"
        data-pagination="false"
    >
    <thead>
        <tr>
            <!--th data-field="name" data-sortable="true">Data_Type Name</th-->
            <th data-field="nome" data-sortable="true">Attività</th>
              <th data-field="modello" data-sortable="true">Modello</th>
           
        </tr>
            </thead>
    </table>
</div> 

