<div id="step0">
    <div class="row">
        <div class="col-md-12 ">
            <div class="radio-inline">
                <label><input type="radio" value="1" name="tipoFornitore" id="tipoFornitore" checked disabled>Fornitore Magazzino</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" value="2" name="tipoFornitore" id="tipoFornitore" disabled>Fornitore già esistente in RFA</label>
            </div>
             <div class="radio-inline">
              <label><input type="radio" value="3" name="tipoFornitore" id="tipoFornitore" disabled>Fornitore già esistente in RMA</label>
            </div>
            
        </div>
        <div id="step01">
            
        </div>
    </div>
</div>   
        




