    
<div class="container-fluid">
      <br/><br/><br/>
   <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb"></ol>
        </div>
    </div>

   <div class="panel panel-default">
  <!--div class="panel-heading">Panel heading without title</div-->
  <div class="panel-body">
   
    <table id="table"
               
               
               data-show-columns="true"
             
                data-show-refresh="true"
              
               data-search="true"
             
             
               data-pagination="false"
              class="table table-striped" >
            <thead>
            <tr>
                <!--th data-field="name" data-sortable="true">Data_Type Name</th-->
                <th data-field="description" data-sortable="true">Amministrazione</th>
                 
                 
            </tr>
            </thead>
    </table>
   </div> 
   </div>
</div>
 