<div  class="container-fluid">
    <div id="overBoot">
        <br/><br/><br/>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb"></ol>
            </div>
        </div> 
        
        <div id="exTab3" >
            <ul class="nav nav-tabs" id="tabX">
                <li class="active" ><a href="#magazzino_" id="magazzino" role="tab" data-toggle="tab">Magazzino</a></li>
                <li><a href="#movimenti_" id="movimenti" role="tab" data-toggle="tab">Movimenti</a></li>
                <li><a href="#fornitori_" id="fornitori_mag" role="tab" data-toggle="tab">Fornitori</a></li>
                <li><a href="#categorie_" id="categorie" role="tab" data-toggle="tab">Categorie</a></li>
                
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="magazzino_" >
                    <h3>Magazzino</h3>
                </div>
                <div class="tab-pane" id="movimenti_" >
                    <h3>Movimenti</h3>
                </div>
                <div class="tab-pane" id="fornitori_" >
                    <h3>Fornitori </h3>
                </div>

                <div class="tab-pane" id="categorie_">
                    <h3>Categorie </h3>
                </div>
                <div  id="tipi"></div>

            </div>
        </div>
      
    </div>
</div>    
    
<div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                      <input type="hidden" class="form-control"  name="id_person" >
                      <input type="hidden" class="form-control"  name="id_user" >
                     <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                     <div class="row">
                        <div class="form-group col-sm-8">
                          <label for="codice">Password</label>
                          <input type="text" class="form-control " name="codice" id="codice" placeholder="Password">
                         </div>
                         <div class="form-group col-sm-4">
                           <label for="genPw">Password 8<!--input type="number" class="form-control col-sm-1" name="chr" id="chr" value="8"--> chr</label>
                           <button type="button" class="btn btn-default form-control genPw" name="genPw" id="genPw">Genera</button>
                        </div>
                    </div>     
                    <div class="form-group">
                        <label>Codice Fiscale</label>
                        <input type="text" class="form-control" name="codice_fiscale" placeholder="Codice Fiscale" readonly>
                    </div>
                                       
              
          
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit">Submit</button>
                </div>
            </div>
        </div>
    </div ><!-- /.modal -->