<!-- Registration -->
<div class="container">
   
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">home</a></li>
                <li class="active">registrazione</li>
            </ol>
        </div>
    </div>
     <br/>
     <div class="panel panel-default">
    
        <div class="panel-body">
            <div id="boot">
                <div class="row">
                    <div class="col-lg-4 col-offset-4">
                        <h3 class="lead">registrazione utente </h3>
                        <form class="registrationForm" id="registrationForm" method="post">
                            <fieldset>
                                <!--input type="text"     class="form-control" name="first_name" id="first_name" value="" placeholder="Nome"/><br>
                                <input type="text"     class="form-control" name="last_name" id="last_name" value="" placeholder="Cognome"/><br-->
                               <input type="text"     class="form-control" name="username" id="username" value="" placeholder="User"/><br>
                                <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password"/><br>
                                <input type="password" class="form-control" name="repassword" id="repassword" value="" placeholder="Ripeti Password"/><br>
                                <input type="text"     class="form-control" name="codice_fiscale" id="codice_fiscale" value="" placeholder="Codice Fiscale "/><br>
                                <label >
                                    Ho letto ed accetto la <a href="http://www.iubenda.com/privacy-policy/94527847" target="_blank">privacy policy</a> <input type="checkbox" name="agree" id="agree" value="">
                                </label><br>
                                <button type="submit" id="registrationButton" class="btn btn-info btn-block btn-large">registrati</button>
                            </fieldset>
                        </form>
                    </div>
                 </div>
            </div>
           
            
        </div>  <!--div class="panel-body"-->
    </div>  <!--div class="panel panel-default"-->
    
      
     
</div>


 