

<div class="container-fluid">
     <style>
        .view {
            color: #333;
            margin-right: 5px;
        }
        .remove {
            color: red;
            margin-left: 5px;
        }
        .alert {
            padding: 0 14px;
            margin-bottom: 0;
            display: inline-block;
        }
    </style>
    
    <br/><br/><br/>
   <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb"></ol>
        </div>
    </div>

    <div class="panel panel-default">
  <!--div class="panel-heading">Panel heading without title</div-->
        <div class="panel-body">
            <p >
                <!--a class="create btn btn-default" href="javascript:" id="new"></a-->
                <span class="alert"></span>
            </p>
            <div class="form-group col-lg-2">
                <label  >Anno</label>
                <select  class="form-control" name="anno" id="anno"   ></select>
            </div>
            <div id="info" class="form-group col-lg-2">
                
            </div>    
           <div class="form-group col-lg-12">
            <table id="table"></table>
             </div>
        </div> 
    </div>
</div>

   
 