<div class="container-fluid">
    <br/><br/><br/>
   <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb"></ol>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><label id="lblTitle" ></label><label id="lblTitleOre" class="pull-right" ></label> </div>
        <div class="panel-body">
             <div class="row">
                <div class="form-group col-lg-2">
                    <label for="datetimepicker1">Periodo dal... *</label>
                    <div class="input-group date pic1" id="datetimepicker1">

                        <input type="text" class="form-control "  id="dataTemp1" name="dataTemp1"/> 
                        <span class="input-group-addon">  
                            <span class="glyphicon glyphicon-calendar"></span> 
                        </span>
                    </div> 
                </div>     
                <div class="form-group col-lg-2">
                    <label for="datetimepicker2">...al *</label>
                    <div class="input-group date pic2" id="datetimepicker2">
                        <input type="text" class="form-control "  id="dataTemp2" name="dataTemp2"/>
                        <span class="input-group-addon"> 
                            <span class="glyphicon glyphicon-calendar"></span> 
                        </span>
                    </div>
                </div> 
                <div class="form-group col-lg-2">
                    <label  id="lblservizi" for="reqRMA"></label>
                    <button type="submit"  class="btn btn-info  btn-block btn-large " id="reqRMA"  name="reqRMA" value="Invio" title="RMA">Cerca</button>

                </div>
               
                <div id="downFile" class="form-group col-lg-2 pull-right"> 
                    <button  title="Excel" type="button" class="btn excel" id="excel" disabled> 
                        <!--img src="./css/img/excel.png" width="25"-->
                        <i class="far fa-file-excel"  style="font-size:36px;color:green"></i>

                    </button>
                </div>
             </div>     
          
            <table id="table">        
            </table>
        </div> 
   </div>
   <!-- Modal -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                 
                    <h4 class="modal-title"></h4>
                </div>
                   
                <div class="modal-body">
                    <h3 id="myModalLabel"></h3>
                    <form id="modalForm" method="post">
                        <input type="text"  class="form-control  col-sm-2 numero_ore" name="num_ore" id="num_ore"  value="0.00"/>
                        <input type="hidden"    name="row_ore" id="row_ore" />
                        <input type="hidden"    name="id_ore" id="id_ore" />
                        
        
                    </form>
                    
                </div>
                <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button type="button" class="btn btn-primary" id="saveOra" name="saveOra">Invio</button>
               
                </div>
            </div>
        </div>
    </div>    
</div>

 

