<!-- Login -->

    <!--div class="container d-flex h-500 align-items-center masthead"-->
    <div class="container-fluid h-100 masthead">
        <div class="row h-100">
            <!--div id="sidebar"-->
            
                <div class="  login ">
                    <h3 class="lead">Login</h3>
                    <form class="loginForm" id="loginForm" method="post">

                        <fieldset>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="" autofocus/><br>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" value=""/><br>
                            <!--div class="input-group">
                               <input type="password" class="form-control" name="password" id="password" placeholder="Password" value=""/>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><span class="fa fa-eye " id="togglePassword"></span></button>
                                </div>
                            </!--div><br-->
                            <p><a href="#it/registration?c=1" style="color:white;">&bull; Non sei registrata/o?</a></p>
                            <p><a href="#it/registration?c=2" style="color:white;">&bull; Recupera password</a></p>
                                <!--li><a href="#it/registration?c=3"><p style="color:white;">Invia una richiesta di aiuto</p></a></li-->
                            <br>
                            <input type="hidden" class="form-control" name="azione" id="azione" value="login"><br>
                            <button type="submit" id="loginButton" class="btn btn-success form-control btn-large">accedi</button>

                        </fieldset>
                    </form>
                </div>
             <!--/div-->    
        </div>    
     
    </div>
