 <style type='text/css'>
  
	
	
	#holder {
		font-family: Arial;
		width: 500px;
		margin: 100px auto;
		text-align:center;
	}
	
	#output {
		padding-top: 20px;
		font-size: 11px;
	}
  </style>
<div class="container">
    <br/><br/><br/>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb"></ol>
        </div>
    </div>
    
 

    <div class="panel panel-default">
  
    <div class="panel-body">
   
   
 
        <div class="row">
            <div class="col-lg-12">
               
                
                <form id="form" enctype="multipart/form-data" method="post" >
                    <div id="upsuccess"></div>
                    <div id="holder">
                          <div id="inpFile"></div>
                        <!--label for="files">Seleziona la cartella con le immagini</label><br /-->
                        <!--input type="file" id="files" name="files[]" multiple="" webkitdirectory="" mozdirectory  class="filestyle" /-->​
                        <!--input type="file" id="files" name="files[]" multiple webkitdirectory mozdirectory class="filestyle"/-->​
                      <!--input type="file" id="file-selector" multiple-->
                       
                        
                        <ul id="output"></ul>
                        <ul id="listing"></ul>
                    </div>
                   
                   <div id="uploadstsT"></div>
                    <div id="uploadsts"></div>
                   
                <div id="err"></div>
                <div id="progressNumber"></div>
                    
                    <!--div class="row">
                  
                       <input class="button" type="submit"  value="Upload" id="Upload" name="Upload"/>
                    </div-->
                    <div id="progressNumber"></div>
                </form>
                
             
                <!--form  id="form" class="well"  method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="nota">Nota</label>
                      <input type="text" name="nota" id="nota" >

                    </div>

                    <div class="form-group">
                      <label for="file">Seleziona il file delle Foto da Stampare</label>
                      <input type="file" name="file[]" id="file" accept=" .zip, .jpg, .jpeg, .png"  allowdirs multiple >
                       <input type="file" webkitdirectory mozdirectory />
                      <p class="help-block"></p>
                    </div>
                     <div id="preview"><img id="blah" src=".\css\img\filed.png" /></div><br>
                     <input type="hidden" name="foto_stampa" id="foto_stampa"  value="foto_stampa">
                    <input type="submit" id="invio" class="btn btn-lg btn-primary" value="Invia">
                </form-->
               
            </div>
          </div>
    
   </div> 
   </div>
</div>
 