<br/><br/><br/>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb"></ol>
    </div>
</div> 
<div class="panel panel-default">
    <div class="panel-heading"><h3>Categorie</h3></div>
    <div class="panel-body">
        
        <p class="toolbar">
            <a class="create btn btn-default" >Nuova Categoria</a>
        </p>   
        <div id="list"></div> 
        <table id="table" class="table table-striped"
        data-show-refresh="false"
        data-show-columns="true"
        data-search="true"
        data-cache="false"
        data-pagination="true">
    </table>
    </div> 
    </div> 
            
    
    
    
    
    