<!-- Dashboard -->


<!--header class="masthead" style="background-image: url('./css/img/dash.png')">
   
    <div class="overlay">
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1><span  id="temp_short_title"></span></h1>
                    <span class="subheading" id="temp_long_title"></span>
                </div>
            </div>
        </div>
    </div>
</header-->

<header class="masthead dash">
    <div class="container d-flex h-500 align-items-center">
        <div class="info"></div>
        
        <div class="linksInaz">
            <a id="zucchettiX" href="https://saas.hrzucchetti.it/hrparcacosoc/"    title="Zucchetti" target="_blank"><img src="css/img/zucc.ico" alt="Zucchetti" width="80"></a>
        </div>
        <div class="linksAlfa">
            <a  id="alfaX" href="http://web.arcacoop.it/AlfaGestWeb/" title="Alfagest" target="_blank"><img src="css/img/alfagest.png" alt="Alfagest" width="150"></a>
        </div>
        <div class="linksArca">
            <a  href="https://www.arcacoop.org/bp_dip/"    title="Arca area riservata" target="_blank"><img src="css/img/arcaareariservata.png" alt="Arca area riservata" width="150"></a>
        </div>
    </div>
</header>

