<div class="container-fluid">
    <br/><br/><br/>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb"></ol>
        </div>
    </div>

    <div class="panel panel-default">
        <!--div class="panel-heading">Panel heading without title</div-->
        <div class="panel-body">
            <div class="row">
             
                <div class="form-group col-lg-2">
                    <label for="datetimepicker1">Periodo dal... *</label>
                    <div class="input-group date pic1" id="datetimepicker1">

                        <input type="text" class="form-control "  id="dataTemp1" name="dataTemp1"/> 
                        <span class="input-group-addon">  
                            <span class="glyphicon glyphicon-calendar"></span> 
                        </span>
                    </div> 
                </div>     
                <div class="form-group col-lg-2">
                    <label for="datetimepicker2">...al *</label>
                    <div class="input-group date pic2" id="datetimepicker2">
                        <input type="text" class="form-control "  id="dataTemp2" name="dataTemp2"/>
                        <span class="input-group-addon"> 
                            <span class="glyphicon glyphicon-calendar"></span> 
                        </span>
                    </div>
                </div> 
                <div id="cbx" class="form-group col-lg-2">
                    <div class="checkbox">
                        <label><input type="checkbox" id="cbEE" value="EE" >ENERGIA ELETTRICA</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"   id="cbAC" value="AC" >ACQUA</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"  id="cbGA" value="GA" >GAS</label>
                    </div>
                   
                </div>  
                 <div id="servizi" class="form-group col-lg-3"></div>
              
                <div class="form-group col-lg-1">
                    <label  ></label>
                    <button type="submit"  class="btn btn-info  btn-block btn-large" id="reqRMA"  name="reqRMA" value="Invio" title="RMA">Cerca</button>

                </div>
                <div class="form-group col-lg-2">
                    <label  id="lblCounter" ></label>

                </div>
            </div>
        </div> </div>   
    <div class="panel panel-default">
        <!--div class="panel-heading">Panel heading without title</div-->
        <div class="panel-body">
            <table id="table" class="table table-striped">        
            </table>
        </div> 
    </div> 
</div>
   <!-- Modal -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                 
                    <h4 class="modal-title"></h4>
                </div>
                
                  
                   
               
                <div class="modal-body">
                     <h3 id="myModalLabel"></h3>
                   <textarea class="form-control" name="descriz" id="descriz" readonly rows="3"></textarea>
                   <img   class="img-fluid" id="image"> 
                   <a   href="" target="_blank"></a> 
                </div>
                <div class="modal-footer">
                
                  
                </div>
            </div>
        </div>
    </div>    


 

