
   
            <form class="contrattiForm" id="contrattiForm" name="contrattiForm" method="post"> 
               
                <div class="row">
                    <!--div class="form-group  col-sm-2 " style="margin-left:50px;">
                        <select class="form-control" id="mese"></select>
                    </!--div>
            
                    <div-- class="form-group  col-sm-2 ">
                        <select class="form-control" id="year"></select>
                    </div-->
                    <div id="week_div">
                        <div class="form-group col-sm-2">
                            <div class="input-group">
                           
                            <!--span class="input-group-addon" id="basic-addon1">Week n°</!--span-->
                            <input type="text" id="week" name="week" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="left">   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="right">   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                            </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                
                    </div> 
                    <div id="data"></div>
                    <!--button type="button"  class="btn btn-default  " id="archivio" name="archivio" style="background-color:#ffc108;margin-left:100px;" data-title="Archivio "  title="Archivio ">Archivio </button-->
                    <div id="downFile"> </div>
                </div>
                
             
                <input type="hidden" class="form-control" name="id_ser" id="id_ser">
             
                <div >
                    <colgroup>
                        <col span="1" style="background-color: #D6EEEE">
                      </colgroup>
                    <p class="toolbar"><span class="alert"></span></p>
                    <table id="table" class="table table-sm"> </table>
                </div>
                <div id="boot"></div>
                <div  id="tipi"></div>
                <div  id="legenda" style="background-color: #f8f49a;width: 300px;">
                 
                </div>
            </form>
  
    




