<div class="panel panel-default">
    <div class="panel-heading"><h3>Fornitori </h3></div>
    <div class="panel-body">
        <div id="list"></div>    
        <p class="toolbar">
            <a class="create btn btn-default" >Nuovo Fornitore</a>
        </p>
        <table id="table" class="table table-striped"
                data-show-refresh="false"
                data-show-columns="true"
                data-search="true"
                data-cache="false"
                data-pagination="true">
            </table>
    </div> 
</div> 
        




