<!-- Gap doc view -->
<div class="container-fluid">
    <br/><br/><br/>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb"></ol>
        </div>
    </div>

    <div class="panel panel-default">
    <!--div class="panel-heading">Panel heading without title</div-->
    <div class="panel-body">
   
    <table id="table"
        data-show-columns="true"
        data-show-refresh="true"
        data-search="true"
        data-pagination="false"
    >
    <thead>
        <tr>
            <!--th data-field="name" data-sortable="true">Data_Type Name</th-->
            <th data-field="shortDescription" data-sortable="true">Servizio</th>
            <th data-field="num_doc" data-sortable="true">Num. Documenti</th>
        </tr>
            </thead>
    </table>
   </div> 
   </div>
</div>
  
   