<div class="container-fluid h-100">
 
   
    <div class="sidebar">
        
        <div class="sidebar-header">
            <a href="#it/gap_adm"> <h2> GAP</h2></a>
        </div> 
         <hr style="border-top: 1px solid rgba(255,255, 255, 0.5);"/>
         <div class="sidebar-subheader">Anagrafica</div>
        <ul class="list-unstyled components" >
             
         
            <li >
                <a  href="javascript:void(0)" class="set" data-tipo="auto"> Autovetture</a>
              
            </li> 
            <!--li>
                <a href="javascript:void(0)" class="set" data-tipo="fornitori"> Fornitori</a>
            </li>
             <li>
                <a href="javascript:void(0)" class="set" data-tipo="assicurazioni"> Assicurazioni</a>
            </li-->
         </ul>    
         <hr style="border-top: 1px solid rgba(255,255, 255, 0.5);"/>
         <div class="sidebar-subheader">Setting</div>
        
        
            <ul class="list-unstyled components" >
         
            <li >
              <a href="javascript:void(0)" id="tipologie"> Tipologie</a>
                
            </li> 
        </ul>    
       
      
        
    </div>

    <div class="main ">
        
      
        <div class="subMain">
            <h2 class=" text-center">Gestione Auto Parco </h2>
            <p></p>
            <p></p>
            <br><br><br>
              
            <div class="row ">    
               <div class="col-md-3 col-md-offset-3">
                  
                    <div class="counter auto">
                        <div class="counter-content">
                            <div class="counter-icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <h3>Autovetture</h3>
                        </div>
                        <span class="counter-value"></span>
                    </div>
                </div>  
                <div class=" col-md-3">
                    <div class="counter green km">
                        <div class="counter-content">
                            <div class="counter-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h3>Km percorsi</h3>
                        </div>
                        <span class="counter-value"></span>
                    </div>
                       
                </div>        
                
        
               
            </div>
        </div>    
    </div>
  
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  
                </div><!-- /.modal-body -->
                <div class="modal-footer">
                
                      
     
                   
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- content -->
