<div  class="container-fluid">
    <div id="overBoot">
        <br/><br/><br/>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb"></ol>
            </div>
        </div>
        <div class="panel panel-default">
            <!--div class="panel-heading">Panel heading without title</div-->
            <div class="panel-body">
        
            <table id="table"
                data-show-columns="false"
                data-show-refresh="false"
                data-search="true"
                data-pagination="false"
            >
            <thead>
                <tr>
                    <!--th data-field="name" data-sortable="true">Data_Type Name</th-->
                    <th data-field="servizio" data-sortable="true">Servizio</th>
                
                </tr>
                    </thead>
            </table>
        </div> 
    </div> 
</div>         




