<div class="panel panel-default">
    <div class="panel-heading"><h3>Magazzino</h3></div>
    <div class="panel-body">
            
            
            <p class="toolbar">
                <a class="create btn btn-default" >Nuovo Articolo</a>
            </p>

            <div id="magazzino"></div>
            <div id="list"></div>  
            <table id="table" class="table table-striped"
                data-show-refresh="false"
                data-show-columns="true"
                data-search="true"
                data-cache="false"
                data-pagination="true">
            </table>
        
    </div><!--/panel-body-->
</div>    