
<!-- navbar0 -->

<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav" >
    <div >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#it/dashboard"  ><img src="./css/img/arca.png" title="Arca Cooperativa sociale"></a>
           
        </div>  

        <div   class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav pull-left" >
             <li> <a href="#it/dashboard" id="navbar-title" ></a>
                </li>    
            </ul>
            <ul class="nav navbar-nav pull-left" id="navigator">
               
            </ul>

            <ul class="nav navbar-nav pull-right" id='ul_login'>
                <li><a href="#it/login"        id="link_login"         data-toggle="tooltip" data-placement="bottom" data-original-title="Login" title=""><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <!--li><a href="#it/help" id="link_help" data-toggle="tooltip" data-placement="bottom" data-original-title="Help" title="">help</a></li-->
            </ul>
          
            <ul class="nav navbar-nav pull-right" id='ul_logout'>
                <li><a href="#it/logout"   id="link_esci"      data-toggle="tooltip" data-placement="bottom" data-original-title="Logout" title=""><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                <!--li><a href="#it/help" id="link_help" data-toggle="tooltip" data-placement="bottom" data-original-title="Help" title="">help</a></li-->
            </ul>
            <ul class="nav navbar-nav pull-right" id='ul_hallo'>
                <!--li><a id='li_hallo'> </a></li-->
                <li>
                    <a href="#it/doc" id='profile' 
                       class=" bread2" 
                       data-toggle="tooltip" 
                       role="button" aria-haspopup="true" aria-expanded="false" 
                       data-toggle1="tooltip" data-placement="bottom" data-original-title="" 
                       title="Profilo">
                        </a><!--ul class="dropdown-menu bread2" id="profile"></ul--></li>
            </ul>
        </div> <!--/.nav-collapse -->
            
    <!--/div><!--/container -->
 </nav> <!--/ navbar navbar-fixed-top -->

