
  <div  class="container-fluid">
    <div id="overBoot">
        <br/><br/><br/>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb"></ol>
            </div>
        </div>
  <div id="exTab3" >
    <ul class="nav nav-tabs" id="tabX">
        <li class="active" ><a href="#tab1_" id="tab1" role="tab" data-toggle="tab">ANAGRAFICA</a></li>
        <li><a href="#tab2_" id="tab2" role="tab" data-toggle="tab">SCHEDE DI OSSERVAZIONE</a></li>
        <li><a href="#tab3_" id="tab3" role="tab" data-toggle="tab">PROGETTO INDIVIDUALE</a></li>
       
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1_" >
             <h3>ANAGRAFICA</h3>
        </div>

        <div class="tab-pane" id="tab2_" >
             <h3>SCHEDE DI OSSERVAZIONE</h3>
        </div>
         <div class="tab-pane" id="tab3_" >
            <h3>PROGETTO INDIVIDUALE</h3>
        </div>
       
    </div>
</div>
</div>






